{
    "semi": true,
    "trailingComma": "none",
    "endOfLine": "lf",
    "bracketSameLine": false,
    "singleQuote": false,
    "printWidth": 100,
    "arrowParens": "always",
    "tabWidth": 2,
    "useTabs": false
}
  